{% extends 'layout/base.html' %}
{% block content %}
<div class="container">
    <h1>{{ artist.full_name }}</h1>
    <h3>{{ artist.follower_count }}
        {% if artist.follower_count == 1 %}
         follower
        {% else %}
         followers
        {% endif %}
    </h3>
</div>
{% if artist == user %}
<div class="container">
    <a class="btn btn-success" href="{% url 'edit_artist' artist.username %}">Edit my profile</a>
</div>
{% endif %}
<div class="container">
    <img src="{{ artist.image }}" alt="{{ artist.full_name }}" width="150" height="200">
    <p>{{ artist.description }}</p>
</div>
<div class="container">
<h3>This artist made these songs:</h3>
{% if artist.songs %}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Genre</th>
        </tr>
    </thead>
    <tbody>
    {% for song in artist.songs.all %}
        <tr>
            <th scope="row"><a href="{% url 'view_song' song.slug %}">{{ song.title }}</a></th>
            <td>{{ song.genre }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<h3>This artist has made no songs yet.</h3>
{% endif %}
</div>
{% endblock content %}